Here is an SQL script to create the `products` table and insert sample data:  

```sql
CREATE TABLE products (
    product_id INT PRIMARY KEY AUTO_INCREMENT,
    product_name VARCHAR(255) NOT NULL,
    price DECIMAL(10,2) NOT NULL
);

INSERT INTO products (product_name, price) VALUES
('Laptop', 55000.00),
('Smartphone', 25000.00),
('Headphones', 2000.50),
('Keyboard', 1500.75),
('Mouse', 999.99),
('Smartwatch', 4999.00),
('Tablet', 18000.00),
('Monitor', 12000.00),
('Speaker', 3500.00),
('Power Bank', 2000.00);

-- To view the inserted data
SELECT * FROM products;
```

### Sample Output:
| product_id | product_name | price    |
|------------|--------------|----------|
| 1          | Laptop       | 55000.00 |
| 2          | Smartphone   | 25000.00 |
| 3          | Headphones   | 2000.50  |
| 4          | Keyboard     | 1500.75  |
| 5          | Mouse        | 999.99   |
| 6          | Smartwatch   | 4999.00  |
| 7          | Tablet       | 18000.00 |
| 8          | Monitor      | 12000.00 |
| 9          | Speaker      | 3500.00  |
| 10         | Power Bank   | 2000.00  |

Let me know if you need any modifications! üöÄ


## **1Ô∏è‚É£ RANK() ‚Äì Ranking Based on Order**
Ranks each row within a partition based on a given order, with gaps in ranking for ties.

### **Example: Rank Products by Price**  
```sql
SELECT product_id, product_name, price,
       RANK() OVER (ORDER BY price DESC) AS price_rank
FROM products;
```
üîπ **How it works:**  
- The most expensive product gets `rank = 1`.  
- If multiple products have the same price, they get the same rank, and the next rank is skipped.

---

## **2Ô∏è‚É£ DENSE_RANK() ‚Äì Similar to RANK(), But Without Gaps**
Assigns rank like `RANK()`, but without skipping numbers when ties occur.

### **Example: Dense Rank Products by Price**  
```sql
SELECT product_id, product_name, price,
       DENSE_RANK() OVER (ORDER BY price DESC) AS price_dense_rank
FROM products;
```
üîπ **How it differs from RANK():**  
- If two products have the same price, they get the same rank, but the next rank is not skipped.

---

## **3Ô∏è‚É£ ROW_NUMBER() ‚Äì Unique Row Number for Each Row**
Assigns a unique sequential number to rows based on the specified order.

### **Example: Number Products in Order of Price**  
```sql
SELECT product_id, product_name, price,
       ROW_NUMBER() OVER (ORDER BY price DESC) AS row_num
FROM products;
```
üîπ **How it works:**  
- Unlike `RANK()` or `DENSE_RANK()`, `ROW_NUMBER()` does not repeat rankings, even for identical prices.

---

## **4Ô∏è‚É£ NTILE(N) ‚Äì Divides Data into N Equal Parts**
Splits the dataset into **N** quantile-based groups.

### **Example: Split Products into 4 Price Groups (Quartiles)**  
```sql
SELECT product_id, product_name, price,
       NTILE(4) OVER (ORDER BY price DESC) AS price_quartile
FROM products;
```
üîπ **How it works:**  
- Divides products into 4 equal groups (quartiles).  
- Each quartile gets a number (1, 2, 3, 4).

---

## **5Ô∏è‚É£ LAG() ‚Äì Get Previous Row‚Äôs Value**
Returns the value from the previous row in a specific column.

### **Example: Compare Price with Previous Product‚Äôs Price**  
```sql
SELECT product_id, product_name, price,
       LAG(price) OVER (ORDER BY price DESC) AS prev_price
FROM products;
```
üîπ **How it works:**  
- Shows the price of the previous product in the ordered dataset.  
- The first row will have `NULL` since there is no previous row.

---

## **6Ô∏è‚É£ LEAD() ‚Äì Get Next Row‚Äôs Value**
Returns the value from the next row in a specific column.

### **Example: Compare Price with Next Product‚Äôs Price**  
```sql
SELECT product_id, product_name, price,
       LEAD(price) OVER (ORDER BY price DESC) AS next_price
FROM products;
```
üîπ **How it works:**  
- Shows the price of the next product in the ordered dataset.  
- The last row will have `NULL` since there is no next row.

---

## **7Ô∏è‚É£ FIRST_VALUE() ‚Äì Get First Row‚Äôs Value in a Partition**
Returns the first value in a group of rows.

### **Example: Show Most Expensive Product in Each Price Category**  
```sql
SELECT product_id, product_name, price,
       FIRST_VALUE(product_name) OVER (ORDER BY price DESC) AS highest_priced_product
FROM products;
```
üîπ **How it works:**  
- Returns the name of the most expensive product for all rows.

---

## **8Ô∏è‚É£ LAST_VALUE() ‚Äì Get Last Row‚Äôs Value in a Partition**
Returns the last value in an ordered partition.

### **Example: Show Cheapest Product in Each Price Category**  
```sql
SELECT product_id, product_name, price,
       LAST_VALUE(product_name) OVER (ORDER BY price DESC 
       ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) 
       AS cheapest_product
FROM products;
```
üîπ **How it works:**  
- Shows the name of the cheapest product for all rows.

---

## **9Ô∏è‚É£ CUME_DIST() ‚Äì Cumulative Distribution**
Calculates the cumulative distribution (percentile rank) of a row in an ordered set.

### **Example: Find Percentile Rank of Each Product Based on Price**  
```sql
SELECT product_id, product_name, price,
       CUME_DIST() OVER (ORDER BY price ASC) AS percentile_rank
FROM products;
```
üîπ **How it works:**  
- **Formula:** `CUME_DIST() = Rank of row / Total number of rows`
- Helps determine how a product ranks in comparison to the entire dataset.

---

## **üîü PERCENT_RANK() ‚Äì Relative Rank Between 0 and 1**
Gives the relative rank of a row as a fraction between 0 and 1.

### **Example: Find Percentile Position of Products Based on Price**  
```sql
SELECT product_id, product_name, price,
       PERCENT_RANK() OVER (ORDER BY price ASC) AS percent_rank
FROM products;
```
üîπ **How it works:**  
- **Formula:** `(Rank - 1) / (Total rows - 1)`.
- Returns values between 0 (lowest) and 1 (highest).

---

## **Summary of SQL Analytic Functions**
| Function | Description |
|----------|------------|
| **RANK()** | Ranks rows with gaps in case of ties |
| **DENSE_RANK()** | Ranks rows without gaps |
| **ROW_NUMBER()** | Assigns a unique row number |
| **NTILE(N)** | Divides data into `N` quantiles |
| **LAG()** | Returns previous row‚Äôs value |
| **LEAD()** | Returns next row‚Äôs value |
| **FIRST_VALUE()** | Returns first row‚Äôs value in partition |
| **LAST_VALUE()** | Returns last row‚Äôs value in partition |
| **CUME_DIST()** | Returns cumulative distribution (percentile rank) |
| **PERCENT_RANK()** | Returns relative rank between 0 and 1 |

---

These **analytic functions** help in **ranking, comparison, trend analysis, and data distribution** in SQL. üöÄ Let me know if you need modifications or examples! üòä